@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif; peso da fonte:       100; estilo de fonte: normal;
}
.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo {
    flex: 20%;
    text-align: left;
    margin-left: 10%;
}
.menu {
    flex: 70%;
    text-align: right;
    padding: 20px;
    font-size: 10px;
}
.logo h1 {
   font-family: "Lobster", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: #004B93;
   font-size: 34px;
  
}
.menu a {
    color: #004B93;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
    font-weight: bold;
}
.menu a:hover {
    color: #690611;
    border-top: 4px solid #004B93;
}
#botao {
    background: #004B93;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover {
    border: none;
    background-color: #690611;
}
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    padding-top: 100px;
}
.headline {
    flex: 40%;
    margin-left: 10%;
}

.headline h2 {
    font-weight: 900;
    color: #004B93;
    margin: 0;
    padding: 0;
}
.headline p {
    text-align: left;
    color: gray;
}
.contact-btn {
    display: inline-block;
    background: #690611;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}
.contact-btn:hover {
    background: #004B93;
}
.img-headline {
    flex: 40%;
    margin-right: 3%;
    text-align: center;
    padding-top: 30px;
}
.section {
    display: inline-block;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    
}
.section h2 {
    width: 100%;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #004B93;
    font-size: 50px;
    margin: 0;
    padding: 5%;
}
.servicos {
    display: inline-block;
    margin-top: 5%;
}

.cards {
    width: 30%;
    display: inline-block;
    padding: 20px;
    margin: 1%;
    border: 3px solid  #690611;
    border-radius: 10px;
    cursor: pointer;
}
.texto-oculto {
    display: none;
}
.cards:hover {
    padding: 40px;
    background: #690611;
    color: white;
}
.cards:hover img {
    display: none;
}
.cards:hover .card-text {
    display: none;
}
.cards:hover .texto-oculto {
    display: block;
}

.footer {
    margin-top: 80px;
    height: 300px;
    background-image: linear-gradient(180deg, #180F4A, #090422, black);
    text-align: center;
    border-top: 5px solid #690611;
}

.agencia {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 34px;
}
.agencia-menu b {
    margin-top: 30px;
}

.whats{
    position: fixed;
    bottom: 100px;
    right: 5px;
}